<p> TOP SUBMISSIONS HTML </p>


{% if results %}
    <ul>
    {% for r in results %}
        <li>{ {{ r.subreddit }} -- {{ r.score }} }</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results</p>
{% endif %}